@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
.font-dancing, .bar-info__cytat h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400; }

a {
  text-decoration: none; }

p {
  font-family: 'Myriad', sans-serif; }

h1 {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }

h3 {
  font-family: 'Roboto', sans-serif; }

h4 {
  font-size: 18px; }

a {
  font-family: 'Roboto', sans-serif; }

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.rwd {
  width: 100%;
  height: auto;
  display: block; }

.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

.single-title + hr {
  border-color: #113c67;
  width: 120px;
  float: left;
  margin-top: 10px;
  padding-bottom: 5px; }

/*buttons*/
.button {
  border: solid 1px #fff;
  background: none; }
  .button--smal {
    margin-top: 20px;
    padding: 10px 30px; }
  .button a {
    color: white;
    text-decoration: none; }

/* header */
.bar-contact {
  background: #113c67;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px; }
  .bar-contact-wraper {
    float: right;
    font-size: 17px; }
    @media (max-width: 767px) {
      .bar-contact-wraper {
        float: none;
        text-align: center;
        font-size: 24px; } }
    .bar-contact-wraper i {
      font-size: 20px;
      padding-left: 30px; }
      @media (max-width: 767px) {
        .bar-contact-wraper i.fa-map-marker {
          display: none; }
        .bar-contact-wraper i.fa-envelope {
          display: none; }
        .bar-contact-wraper i.fa-phone {
          font-size: 30px; } }
    .bar-contact-wraper-1 {
      padding-left: 10px; }
      @media (max-width: 767px) {
        .bar-contact-wraper-1 {
          display: none; } }
    .bar-contact-wraper-2 {
      padding-left: 10px; }
      @media (max-width: 767px) {
        .bar-contact-wraper-2 {
          display: none; } }
    .bar-contact-wraper-3 {
      padding-left: 10px; }

/*navigation*/
.top-nav {
  padding-top: 15px;
  background: #ffffff;
  border: none; }

nav li {
  padding-left: 20px; }

.navbar-toggle {
  padding: 15px;
  margin-top: 15px; }

.navbar-default {
  background-color: #ffffff;
  box-shadow: none;
  background-image: none;
  border: none; }
  .navbar-default .navbar-collapse {
    border: none;
    padding-bottom: 0px; }
  .navbar-default .navbar-nav {
    font-size: 17px;
    float: right;
    padding-right: 0px;
    padding-top: 12px; }
    .navbar-default .navbar-nav .active a {
      background-color: #00afdb;
      background-image: none;
      color: #fff;
      margin-top: -27px;
      margin-bottom: -20px;
      padding-bottom: 42px;
      padding-top: 44px;
      position: static; }
      @media (max-width: 767px) {
        .navbar-default .navbar-nav .active a {
          top: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
          padding-bottom: 22px;
          padding-top: 22px;
          position: relative; } }
      .navbar-default .navbar-nav .active a:hover {
        background-color: #0e94b6;
        color: #efefef; }
      .navbar-default .navbar-nav .active a:visited {
        color: #fff; }

/* carousel */
.carousel-inner h1 {
  font-size: 65px;
  line-height: 100%; }
  .carousel-inner h1 span {
    font-size: 65%;
    font-weight: 300;
    display: block;
    padding-bottom: 10px; }

.carousel-inner h2 {
  font-weight: 400;
  display: block;
  padding-bottom: 10px; }

.carousel-inner img {
  display: block;
  margin: 0 auto; }

.carousel-inner .carousel-caption-content {
  text-align: left;
  width: 650px;
  bottom: 170px;
  margin-left: 450px;
  position: absolute;
  display: block; }
  @media (max-width: 1399px) {
    .carousel-inner .carousel-caption-content {
      bottom: 120px;
      width: 400px;
      left: -30px; }
      .carousel-inner .carousel-caption-content h1 {
        font-size: 60px; } }
  @media (max-width: 1199px) {
    .carousel-inner .carousel-caption-content {
      bottom: 100px;
      margin-left: 300px;
      width: 380px; }
      .carousel-inner .carousel-caption-content h1 {
        font-size: 49px; } }
  @media (max-width: 991px) {
    .carousel-inner .carousel-caption-content {
      bottom: 55px;
      left: -60px;
      width: 300px; }
      .carousel-inner .carousel-caption-content h1 {
        font-size: 40px; }
      .carousel-inner .carousel-caption-content h2 {
        font-size: 25px; } }
  @media (max-width: 767px) {
    .carousel-inner .carousel-caption-content {
      display: none; } }

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.0001) 100%); }

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.1) 100%); }

.slide-banner img {
  display: block;
  margin: 0 auto; }

/*coockies*/
.cockies-wrapper {
  background-color: #f5f5f5; }

.cockies {
  text-align: left;
  padding: 14px 0px 1px 0px; }

/*cennik*/
.cennik-wrapper {
  padding-bottom: 100px; }
  .cennik-wrapper h3 {
    padding: 30px 0px 20px 0px; }
  .cennik-wrapper p {
    padding-bottom: 20px; }
  .cennik-wrapper .widget-title {
    margin-left: 40px;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 100px; }
    .cennik-wrapper .widget-title:first-child {
      margin-top: 20px; }

table {
  width: 100%; }
  table tr:nth-of-type(2n) {
    background: #eaf0f4; }
  table th {
    text-align: center;
    font-size: 18px;
    background: #00508b;
    color: #fff;
    padding: 10px;
    font-weight: 700; }
  table td {
    padding: 10px;
    text-align: left;
    font-size: 17px; }
    table td:last-child {
      text-align: right; }

/*offers*/
.offers {
  color: #fff;
  text-align: center; }
  .offers--dark {
    background-color: #113c67;
    padding: 20px 40px 40px 30px; }
  .offers--light {
    background-color: #00afdb;
    padding: 20px 40px 40px 30px; }
  .offers img {
    height: 100px; }
  .offers p {
    font-size: 16px; }

/*oferta-offers*/
.oferta-offers a {
  text-decoration: none; }

.oferta-offers .oferta-offers-box {
  color: #fff;
  text-align: center;
  background-color: #b2b2b2;
  padding: 15px 40px 12px 20px;
  border-right: 1px solid #e5e5e5; }
  @media (max-width: 991px) {
    .oferta-offers .oferta-offers-box {
      border-bottom: 1px solid #e5e5e5; } }
  .oferta-offers .oferta-offers-box.no-active:hover {
    background-color: #00afdb;
    color: white;
    transition: all 0.3s ease-in-out; }
  .oferta-offers .oferta-offers-box img {
    height: 60px; }
  .oferta-offers .oferta-offers-box p {
    font-size: 16px;
    font-weight: 300; }

.oferta-offers .active {
  background-color: #113c67; }

.oferta-all-wrapper {
  padding: 70px 0px 100px 0px; }
  .oferta-all-wrapper .widget-title {
    padding: 20px 0px 20px 40px;
    background-color: #f5f5f5;
    margin-top: 100px; }
    .oferta-all-wrapper .widget-title:first-child {
      margin-top: 0px; }

/*about*/
.about-wrapper {
  background-image: url("/img/offers-bg-left.jpg"), url("/img/offers-bg-right.jpg");
  background-position: left top, right top;
  width: 100%;
  height: auto;
  display: block;
  background-repeat: repeat-y; }
  @media (max-width: 991px) {
    .about-wrapper {
      background-image: none; } }

.about__content {
  padding: 45px 40px 0px 15px;
  color: #7f7f7f; }
  .about__content h2 {
    padding-bottom: 20px;
    font-size: 35px; }
    .about__content h2 span {
      font-size: 22px;
      font-weight: 400; }
  .about__content p {
    font-size: 18px;
    text-align: justify;
    padding-bottom: 30px;
    line-height: 1.7; }

/*ofert-content-wrapper*/
.ofert-content-wrapper {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 70px; }
  @media (max-width: 991px) {
    .ofert-content-wrapper {
      background-image: none; } }
  .ofert-content-wrapper__content {
    padding: 29px 35px 0px 15px;
    color: #7f7f7f; }
    .ofert-content-wrapper__content h2 {
      font-size: 35px;
      padding-bottom: 15px; }
    .ofert-content-wrapper__content h3 {
      color: #00afdb; }
    .ofert-content-wrapper__content p {
      font-size: 16px;
      text-align: justify;
      padding-bottom: 30px;
      font-weight: 300;
      line-height: 1.7; }
  .ofert-content-wrapper__menu {
    text-align: left;
    float: left;
    padding-top: 29px; }
    .ofert-content-wrapper__menu h3 {
      padding-left: 40px;
      padding-bottom: 28px;
      color: #113c67; }
    .ofert-content-wrapper__menu ul {
      list-style-type: none; }
    .ofert-content-wrapper__menu li {
      border-bottom: 1px solid #e5e5e5;
      padding: 1px 0px; }
      .ofert-content-wrapper__menu li a {
        text-decoration: none;
        padding: 12px 20px;
        display: block;
        color: #686868; }
        .ofert-content-wrapper__menu li a h4 {
          line-height: 1.3; }
        .ofert-content-wrapper__menu li a:hover {
          background-color: #00afdb;
          color: white;
          transition: all 0.3s ease-in-out; }
      .ofert-content-wrapper__menu li.active a {
        background-color: #00afdb;
        color: white; }
    .ofert-content-wrapper__menu.in {
      z-index: 1;
      background-color: #fff;
      padding-top: 0px; }
      .ofert-content-wrapper__menu.in ul {
        padding-left: 0px;
        margin-bottom: 0px; }
      .ofert-content-wrapper__menu.in .active {
        background-color: white; }

.panel-body p {
  padding: 20px 10px 10px 10px; }

/*/ofert-content-wrapper*/
.about__photo {
  text-align: right;
  padding-top: 40px; }

.about--zl {
  padding-bottom: 40px; }

.certyfikaty {
  text-align: center;
  background-color: #b1b1b1;
  color: white; }
  .certyfikaty h5 {
    margin-bottom: 5px; }
  .certyfikaty i {
    margin-top: -10px; }
  .certyfikaty a {
    color: white; }
    .certyfikaty a:hover {
      color: #fff;
      text-decoration: none; }
  .certyfikaty ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
  .certyfikaty ul li {
    list-style: none;
    margin-bottom: 25px; }
  .certyfikaty ul li img {
    cursor: pointer; }

/*certyfikaty-galery*/
#certyfikatsWrapper {
  margin: 0px -15px 0px -15px; }

/*bar-info*/
.bar-info {
  text-align: center;
  color: #fff; }
  .bar-info--dark {
    padding: 20px 50px 30px 50px;
    background-color: #6d6e71; }
  .bar-info--light {
    padding: 20px 50px 30px 50px;
    background-color: #7f8081; }
  .bar-info--lighter {
    padding: 20px 50px 30px 50px;
    background-color: #8f8f8f; }
  .bar-info h2 span {
    font-size: 22px;
    font-weight: 300; }
  .bar-info__cytat {
    padding: 15px 0 25px 0; }
    .bar-info__cytat h2 {
      color: #323232;
      font-size: 40px; }
  .bar-info p {
    font-size: 16px; }

/*maps*/
.maps-wrapper {
  position: relative;
  height: 270px;
  background-color: #113c67;
  /*&_map {
	padding: 0px;
	}*/ }
  .maps-wrapper_buttons {
    color: white; }
    @media (max-width: 520px) {
      .maps-wrapper_buttons h2 {
        font-size: 21px; } }
    .maps-wrapper_buttons h4 {
      line-height: 150%; }
      @media (max-width: 520px) {
        .maps-wrapper_buttons h4 {
          font-size: 15px; } }
    .maps-wrapper_buttons i {
      padding-right: 10px; }
    .maps-wrapper_buttons-up {
      background-color: #00afdb;
      padding: 20px 40px 30px 30px; }
      @media (max-width: 1199px) {
        .maps-wrapper_buttons-up {
          float: left;
          width: 50%; } }
  @media (max-width: 1199px) and (max-width: 520px) {
    .maps-wrapper_buttons-up {
      padding: 15px 20px 20px 15px; } }
    .maps-wrapper_buttons-down {
      background-color: #113c67;
      padding: 20px 40px 30px 30px; }
      @media (max-width: 1199px) {
        .maps-wrapper_buttons-down {
          float: left;
          width: 50%; } }
  @media (max-width: 1199px) and (max-width: 520px) {
    .maps-wrapper_buttons-down {
      padding: 15px 20px 20px 15px; } }

#mapkit-9103 {
  height: 433px; }

#map {
  height: 428px;
  width: 100%; }

.copyright {
  text-align: center;
  padding: 15px 0px 10px 0px;
  background-color: #f5f5f5; }

.footer-wrapper {
  padding: 15px 0px 10px 0px;
  background-color: #113c67; }
  @media (max-width: 767px) {
    .footer-wrapper {
      display: none; } }
  .footer-wrapper_logo {
    max-width: 213px; }
  .footer-wrapper_menu {
    float: right;
    margin-top: 15px;
    color: white; }
    .footer-wrapper_menu ul {
      list-style-type: none;
      float: right; }
    .footer-wrapper_menu li {
      float: left;
      padding-left: 40px; }
      .footer-wrapper_menu li a {
        color: white;
        text-decoration: none; }
        .footer-wrapper_menu li a:hover {
          color: #e1e1e1; }
