
h3 {
	font-family: Myriad Pro;
	text-align: center;
	padding: 30px 20px 30px 20px;
	line-height: 40px;

}

.bg {
	background-image: url("../img/bgl.png"), url("../img/bgr.png");
	background-position: left top, right top;
	width: 100%;
    height: auto;
    display: block;
    background-repeat: repeat-y;
    height: 100%;
    position: absolute;
}

.logo {
	padding-top: 30px;
	text-align: center;
}

.rwd {
	max-width: 100%;
    height: auto; 
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.badgee {
	text-align: center;
	padding-top: 10px;
}




/* mediaqeries */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
 }

/* Medium devices (desktops, 1199px and up) */
@media only screen and (max-width: 1199px) { 
 }

/* Large devices (large desktops, 991px and up) */
@media only screen and (max-width: 991px) { 
 }

/* Medium devices (desktops, 768px and up) */
@media only screen and (max-width: 768px) {
	.logo {
		text-align: center;
	} 
	.bg{
		opacity: 0.2;
	}

}

@media only screen and (max-width: 520px) { 
	
	.logo {

		text-align: center;
	} 

 }
