

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.font-dancing {
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
}


/*icomoon*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bjcnc9');
  src:  url('../fonts/icomoon.eot?bjcnc9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bjcnc9') format('truetype'),
    url('../fonts/icomoon.woff?bjcnc9') format('woff'),
    url('../fonts/icomoon.svg?bjcnc9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-ico-oko:before {
  content: "\e900";


}
.icon-ico-tablica:before {
    content: "\e901";
}
.icon-ico-laser:before {
  content: "\e902";

}


/*/icomoon*/


// Breakpoints

@mixin xs {
 @media (max-width: 520px) {
@content;
 }
}

@mixin sm {
 @media (max-width: 767px) {
@content;
 }
}
@mixin md {
 @media (max-width: 991px) {
@content;
 }
}
@mixin lg {
 @media (max-width: 1199px) {
@content;
 }
}
@mixin xlg {
 @media (max-width: 1399px) {
@content;
 }
}
@mixin full {
 @media (min-width: 1400px) {
@content;
 }
}

$color--default: #113c67;

$color--default-hover: #003365;

$color__blue--light: #00afdb;

$color__blue--light-hover: #00a6d0;

$h1-color: #535353;


a {
	color:white;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: white;
	}
}

p {
	font-family: 'Myriad', sans-serif;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

h3 {
	font-family: 'Roboto', sans-serif;
}

h4 {
	font-size: 18px;
}

a {
	font-family: 'Roboto', sans-serif;
}

li {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}


.rwd {
	width: 100%;
    height: auto;
    display: block;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.single-title + hr {
    border-color: $color--default;
    width: 120px;
    float: left;
    margin-top: 10px;
    padding-bottom: 5px;

}

/*buttons*/
.button {
	border: solid 1px #fff;
	background: none;
		&--smal {
			margin-top:20px;
			padding: 10px 30px;
		}
	a {
		color: white;
		
	}
}

/* header */

.bar-contact{
	background: $color--default;
	color: #fff;
	padding-top:15px;
	padding-bottom:15px;
	&-wraper {
		float:right;
		font-size:17px;
		@include sm {
			float:none;
			text-align: center;
			font-size:24px;
		}
		i {
			font-size:20px;
			padding-left: 30px;
			@include sm {
				&.fa-map-marker  {
					display:none;
				}
				&.fa-envelope {
					display:none;
				}
				&.fa-phone {
					font-size: 30px;
				}
			}
		}		

		&-1{
			padding-left:10px;
			@include sm {
				display: none;
			}
		}
		&-2{
			padding-left:10px;
			@include sm {
				display: none;
			}
		}
		&-3{ 
			padding-left:10px;
		}
	}
}

/*navigation*/

.logo-new {
	padding-top: 23px;
}

.top-nav {
	background: #ffffff;	
	border: none;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-header {
	min-height: 120px;
}

.navbar-toggle  {
	padding:15px;
	margin-top:15px;
}


.navbar-default {
	background-color: #ffffff;
	box-shadow: none;
	background-image: none;
	border: none;
	.navbar-collapse {
	border: none;
	padding-bottom: 0px;

	}
	.navbar-nav {
		font-size: 17px;
		float: right;
		li {
			&.active {
				background-color: $color__blue--light;
				background-image: none;
				color:#fff;
				border-right: 1px solid #00c2f3;
				border-left: 1px solid #00c2f3;
				a {
					background-color: $color__blue--light;
					background-image: none;
					color: white;
					&:hover {
						color: white;
						background-color: $color__blue--light;
						background-image: none;
					}		
				}
				
			}					
			a {

				background-image: none;
				padding:50px 20px;
				&:hover {
					color:white;
					background-color: $color__blue--light;
					transition: all 0.2s ease-in-out; 	
				}
							
			}
		}		
	}
}


/* carousel */


.carousel-inner {
	h1 {
		font-size: 65px;
		line-height: 100%;
		span {
			font-size: 65%;
			font-weight: 300;
			display: block;
			padding-bottom: 10px;

		}
	}
	h2 {		
		font-weight: 400;
		display: block;
		padding-bottom: 10px;	
		}
	
	img {
		display: block;
   		margin: 0 auto;
	}


	.carousel-caption-content { 
		text-align: left;
	    width: 650px;
		bottom: 170px;
		margin-left:450px;
		position: absolute;
		display: block;


		@include xlg {
			bottom:120px;
			width:400px;
			left: -30px;
			h1 {
				font-size: 60px;	
			}
		}
		@include lg {
			bottom: 100px;
			margin-left:300px;
			width:380px;
			h1 {
				font-size: 49px;	
			}
		}
		@include md {
			bottom: 55px;
			left:-60px;
			width:300px;
			h1 {
				font-size: 40px;	
			}
			h2 {
				font-size:25px;
			}
			 
		}

		@include sm {
			display: none;	
		}
				
  	}
}

.carousel-control {
	&.left {
		background-image: -webkit-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
	}
	&.right {
		background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
	}
}

.slide-banner {
	img {
		display: block;
   		margin: 0 auto;
	}
}

/*coockies*/
.cockies-wrapper {
	background-color: #f5f5f5;
}

.cockies {
	text-align: left;
	padding: 14px 0px 1px 0px;
} 

/*cennik*/
.cennik-wrapper {
		padding-bottom: 100px;
	h3 {
		padding: 30px 0px 20px 0px;
	}
	p {
		padding-bottom: 20px;
	}
	.widget-title {
		margin-left: 40px; 
		padding: 20px;
		background-color: #f5f5f5;
		margin-top: 100px;
		&:first-child {
			margin-top: 20px;
		}

	}
}


table {
	width: 100%;
	tr:nth-of-type(2n) {
    background: #eaf0f4;
	}

	th {
		text-align: center;
		font-size: 18px;
		background: #00508b;
    	color: #fff;
    	padding:10px;
    	font-weight: 700;
	}
	td {
	    padding: 10px;
	    text-align: left;
	    font-size: 17px;
	    &:last-child {
	    	text-align: right;
    	}
	}
}


/*offers*/
.offers {
	color: #fff;
	text-align: center;

	.icon {
		font-size: 90px;
	}
	&--dark {
		background-color: $color--default;
		padding:20px 40px 40px 30px;
		min-height: 351px;

		&:hover {
			background: #f5f5f5;
			color: $color--default;
			transition: all 0.2s ease-in-out;
			.button {
				border: solid 1px $color--default;
				a {
					color:$color--default;
				}
			}
			.icon{	  		  			
		  		color: #113c67;
			}

		}
	}
	&--light  {
		background-color: $color__blue--light;
		padding:20px 40px 40px 30px;
		min-height: 351px;
		&:hover {
			background: #f5f5f5;
			color: $color--default;
			transition: all 0.2s ease-in-out;
			.button {
				border: solid 1px $color--default;
				a {
					color: $color--default;
				}
			}
			.icon{	  		  			
		  		color: #113c67;
			}

		}
	}

	p {
		font-size:16px;
		
	}
	.icon {
		font-size: 90px;
	}
}


/*oferta-offers*/


.oferta-offers {
	a {
		
	}
	.oferta-offers-box {
		color: #fff;
		text-align: center;
		background-color:#b2b2b2;
		padding:15px 40px 12px 20px;
		border-right: 1px solid #e5e5e5;
			@include md {
			border-bottom: 1px solid #e5e5e5;
			border-right: none;	
			}
		&.no-active {
			&:hover {
					background-color: $color__blue--light;
					color: white;
					transition: all 0.2s ease-in-out; 			         
				}
			}
		
		img {
			height:60px;

		}
		p {
			font-size:16px;
			font-weight: 300;
		}
		h2 {

		}
	}
	.active {
	background-color: $color--default;

	}

}

.oferta-all-wrapper {
	padding: 70px 0px 100px 0px;

	.widget-title {
	
		padding: 20px 0px 20px 40px;
		background-color: #f5f5f5;
		margin-top: 100px;
		&:first-child {
			margin-top: 0px;
		}

	}
}


 /*about*/
.about-wrapper {
	padding-top:30px;
	background-image: url("/img/offers-bg-left.jpg"), url("/img/offers-bg-right.jpg");
	background-position: left top, right top;
	width: 100%;
    height: auto;
    display: block;
    background-repeat: repeat-y;
	@include md {
		background-image: none;
	}
}

.about__content {
	padding:0px 40px 0px 15px;
	color: #7f7f7f;

	h2 {
		padding-bottom:20px;
		font-size: 35px;
		span {
		font-size:22px;
		font-weight: 400;
		}
	}

	p {
		font-size: 18px; 
		text-align: justify;
		padding-bottom:10px;
		line-height: 1.7;
	 }
}


.about__photo {
	text-align: right;
	@include lg {
		padding-top: 100px;
	}
}

.parafka {
	background-image: url(../img/parafka.png);
	background-repeat: no-repeat;
	height: 120px;
	position: relative;

}


/*znany lekarz*/
.about--zl {
	position: relative;
	text-align: center;
	@include lg {
		padding-bottom: 20px;
	}

}

.zlw-simple {
	background: grey;
}


#zlwidget {
	background: grey;

}

/*ofert-content-wrapper*/
.ofert-content-wrapper {	
	width: 100%;
    height: auto;
    display: block;
    padding-top:30px;
    padding-bottom: 70px;
	@include md {
		background-image: none;
	}
	&__content {
	padding: 29px 35px 0px 15px;
	color: #7f7f7f;

		h2 {
			font-size: 35px;
			padding-bottom: 15px;
		}

		h3 {
			color: $color__blue--light;
		}

		p {
			font-size: 16px; 
			text-align: justify;
			padding-bottom:30px;
			font-weight: 300;
			line-height: 1.7;		
		 }
		
	}

	&__menu {
		text-align: left;
		float: left;
		padding-top:29px;

		h3 {
			padding-left: 40px;
			padding-bottom: 28px;
			color: $color--default;

		}

		ul {
			list-style-type: none;
		}
		
		li {
			border-bottom: 1px solid #e5e5e5;
			padding: 1px 0px;
			a {
				
				padding: 12px 20px;
				display: block;
				color: #686868;
				h4 {
					line-height: 1.3;
				}
				&:hover {
					background-color: $color__blue--light;
					color: white;
					transition: all 0.3s ease-in-out;    
				}
			}
			&.active {
				a {
					background-color: $color__blue--light;
					color: white;
				}
			}
		}

		&.in {
			z-index: 1;
			background-color: #fff;
			padding-top: 0px;
			ul {
				padding-left: 0px;
				margin-bottom: 0px;
			}
			.active {
			background-color: white;
			}	
		}
	}

}

.panel-body {
	p {
		padding: 20px 10px 10px 10px;
	}
}


/*/ofert-content-wrapper*/


.certyfikaty {
	text-align: center;
	background-color: #b1b1b1;
	color: white;

	h5 {
		margin-bottom: 5px;
	}
	i {
		margin-top:-10px;
	}

	a {
		color:white;
	&:hover {
		color: #fff;	
		
		}
	}
	ul {
		  padding:0 0 0 0;
		  margin:0 0 0 0;
	}
	ul li {
		  list-style:none;
		  margin-bottom:25px;
	}
	ul li img {
	 	 cursor: pointer;
	}

}

/*certyfikaty-galery*/

#certyfikatsWrapper {
	margin:0px -15px 0px -15px;

}



/*bar-info*/
.bar-info {
	text-align: center;
	color: #fff;
	&--dark {
		padding:20px 50px 30px 50px;
		background-color: #6d6e71;
	}
	&--light {
		padding:20px 50px 30px 50px;
		background-color: #7f8081;
	}
	&--lighter {
		padding:20px 50px 30px 50px;
		background-color: #8f8f8f;	
	}
	h2 span {
		font-size: 20px;
		font-weight: 300;
	}
	&__cytat {
		padding: 15px 0 25px 0;
		h2 {
		color: #323232;
		@extend .font-dancing;
		font-size:40px;
		}
	}
	p {
		font-size:16px;
	}
}

/*maps*/
.maps-wrapper {
	position: relative;
	&_buttons {
		color: white;
		h2 {
			@include xs {
				font-size: 21px;
			} 
		}
		h4 {
			line-height: 150%;
			@include xs {
				font-size: 15px;
			} 
		}
		i {
			padding-right: 10px;
		}
		&-down{
			background-color: #8f8f8f;
			padding:20px 40px 30px 30px;
			border-top:1px solid #fff;
			&:hover {
				background-color: $color--default;
			}
		@include lg {
			float:left;
			width: 50%;
		@include xs {
			padding:15px 20px 20px 15px;
			} 
		}
		}
	}
}

	.active-map {
		background-color: $color--default;
	}


 .fa-facebook-official {
 	text-align:right;
 	float: right;
 	font-size: 45px;
 	color: white;
 	padding:10px;
 	border: 1px solid #fff;
 	border-radius: 2pt;
 	&:hover {

 	}
 	@include xs {
 		right:-10px;
 	}
 }

 #mapkit-9103 {
        height:433px;
    }
#map {
    height:472px;
    width: 100%;
}

.copyright {
	text-align: center;
	padding: 15px 0px 10px 0px;
	background-color: #f5f5f5;
} 

.footer-wrapper{
	padding: 15px 0px 10px 0px;
	background-color: $color--default;

	@include sm {
		display: none;
	} 
	
	&_logo {
		max-width: 213px;
	}
	&_menu {
		float: right;
		margin-top: 15px;	
		color: white;
		ul {
			list-style-type: none;
			float: right;
		}
		li {
			float: left;
			padding-left: 40px;
			a {
				color: white;
				&:hover {
					color: #e1e1e1;	
				}
			}
		}
	}

}




//updated ver
* {
  box-sizing:border-box;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body { 

  font-family:'Lato';
}
.heading-primary {
  font-size:2em;
  padding:2em;
  text-align:center;
}
.accordion dl,
.accordion-list {
   border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#38cc70, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color:#eee;
   font-size:1em;
   line-height:1.5em; 
}
.accordion p {
  padding:1em 2em 1em 2em;
}

.accordion {
    position:relative;
    background-color:#eee;
}
.accordionTitle,
.accordion__Heading {
 background-color:#38cc70; 
   text-align:center;
     font-weight:700; 
          padding:2em;
          display:block;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#38cc70, 5%);
  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.3s ease-in-out;
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion to animate
    
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}
