@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:100,100i,300,400,500,700|Dancing+Script:400,700");
.roboto, .title h6, .navbar, .submenu__box h2, .submenu__box span, .offer__more span, .contact-bar__txt span {
  font-family: 'Roboto', sans-serif; }

.open-sans, body, h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Open Sans', sans-serif; }

.dancing-script, .info-bar span {
  font-family: 'Dancing Script', cursive; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

/* 
Oferta menu
*/
/* Submenu */
.oferta__menu-wrapper {
  background-color: #00aedb; }

.oferta__menu a {
  background-color: #00aedb;
  text-decoration: none; }

.oferta__menu a:hover {
  text-decoration: none;
  background-color: #0a8fb1; }

.oferta__menu__box {
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  padding-bottom: 15px;
  font-family: FontAwesome;
  content: "\f087"; }

.oferta__menu__box h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.9rem;
  text-align: left; }

@media (max-width: 991px) {
  .oferta__menu__box h2 {
    text-align: none;
    font-size: 1.9rem; } }

@media (max-width: 1199px) {
  .oferta__menu__box h2 {
    text-align: center; } }

@media (max-width: 991px) {
  .oferta__menu__box {
    padding-right: 5px; } }

@media (max-width: 767px) {
  .oferta__menu__box {
    padding-bottom: 30px;
    text-align: center; } }

.content {
  background-color: white; }

@media (max-width: 991px) {
  .content {
    padding-left: 0px; } }

.content ul {
  list-style-position: outside; }

.content ul li {
  list-style: none;
  background: url(../images/bullet.png) 0 0 no-repeat;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8; }

.content ul li span {
  font-weight: 600; }

.content ul li a {
  color: #555;
  text-decoration: none; }

.content ul li a:hover {
  -webkit-transition: color .3s, border .3s, color .3s;
  transition: color .3s, border .3s, color .3s;
  color: #b50864; }

.content__first img {
  width: 270px;
  padding-right: 25px; }

@media (max-width: 991px) {
  .content__first img {
    display: none; } }

.content__first .arrow-box {
  position: absolute;
  top: -47px;
  left: 140px; }

@media (max-width: 1199px) {
  .content__first .arrow-box {
    left: 120px; } }

.content__first .arrow-box img {
  width: 100%; }

.content__secound hr {
  width: 95%;
  padding-right: 20px; }

.content__secound ul {
  padding-top: 30px;
  padding-bottom: 30px; }

.content__secound--ico1 {
  margin: 30px 0px;
  border-right: 1px #dbdbdb solid; }

.content__secound--ico2 {
  margin: 30px 0px;
  border-right: 1px #dbdbdb solid; }

.content__secound .arrow-box {
  position: absolute;
  top: -47px;
  left: 535px; }

@media (max-width: 1199px) {
  .content__secound .arrow-box {
    left: 435px; } }

.content__secound .arrow-box img {
  width: 100%; }

@media (max-width: 991px) {
  .content__secound .arrow-box {
    display: none; } }

.content__secound--gaz ul li {
  background: url(../images/bullet-blue.png) 0 0 no-repeat; }

.content__third hr {
  width: 95%;
  padding-right: 20px; }

.content__third ul {
  padding-top: 30px;
  padding-bottom: 30px; }

.content__third--ico1 {
  margin: 30px 0px;
  border-right: 1px #dbdbdb solid; }

.content__third--ico2 {
  margin: 30px 0px;
  border-right: 1px #dbdbdb solid; }

.content__third--gaz ul li {
  background: url(../images/bullet-blue.png) 0 0 no-repeat; }

.content__third .arrow-box {
  position: absolute;
  top: -47px;
  left: 910px; }

@media (max-width: 1199px) {
  .content__third .arrow-box {
    left: 764px; } }

.content__third .arrow-box img {
  width: 100%; }

@media (max-width: 991px) {
  .content__third .arrow-box {
    display: none; } }

.menu-vertical {
  padding: 0px;
  list-style: none;
  text-align: left;
  background: #F2F2F2; }

.mv-item,
.mv-item a {
  display: block; }

.mv-item a {
  margin: 1px 0;
  padding: 10px 17px;
  color: #666;
  background: #fff;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s; }

.mv-item a:hover,
.mv-item a:focus {
  background: #F2F2F2;
  color: #666 !important;
  padding-left: 30px; }

body {
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial;
  font-weight: lighter;
  text-align: center; }

h1 {
  color: #444;
  margin: 2em 0;
  font-weight: lighter; }

header .contact {
  font-weight: 300;
  font-size: 0.9rem; }

@media (max-width: 767px) {
  header .contact {
    font-size: 1.1rem; } }

header .contact .fa-facebook-f, header .contact .fa-map-marker-alt, header .contact .fa-phone {
  margin-right: 10px;
  color: #58585a; }

header .contact .fa-facebook-f a, header .contact .fa-map-marker-alt a, header .contact .fa-phone a {
  color: #58585a; }

header .contact .fa-facebook-f a:hover, header .contact .fa-map-marker-alt a:hover, header .contact .fa-phone a:hover {
  color: #58585a; }

@media (max-width: 767px) {
  header .contact #fb-none {
    display: none; } }

.title {
  text-align: left; }

.title h3 {
  font-size: 2rem; }

.title h6 {
  font-weight: 100;
  font-size: 1.1rem;
  padding-top: 5px; }

.title span {
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 2rem; }

.title .underline {
  max-width: 10%;
  display: block;
  padding-bottom: 30px;
  padding-top: 10px; }

@media (max-width: 991px) {
  .title .underline {
    max-width: 25%; } }

h1, h2, h3, h4, h5, h6, p, span {
  color: #58585a; }

h6 {
  line-height: 1.6rem; }

.btn {
  border-radius: 0;
  cursor: pointer; }

.btn-secondary {
  color: #00aedb;
  background-color: white !important; }

.btn-secondary:hover {
  color: #00aedb;
  background-color: #ebebeb !important; }

.no-padding {
  padding-right: 0;
  padding-left: 0; }

.rwd {
  display: block;
  width: 100%;
  height: auto; }

.sub__header .header__bg {
  max-height: 400px;
  position: relative; }

.navbar .navbar-collapse ul li {
  padding-left: 50px !important; }

@media (max-width: 991px) {
  .navbar .navbar-collapse ul li {
    padding-left: 40px !important;
    padding-top: 30px; } }

@media (max-width: 991px) {
  .navbar .navbar-collapse ul li:last-child {
    padding-right: 10px; } }

.navbar .navbar-collapse ul li a {
  text-decoration: none;
  color: #58585a !important;
  font-size: 1rem;
  font-weight: 400; }

.navbar .navbar-collapse ul li a:hover {
  border-bottom: solid 2px #00aedb;
  display: inline-block;
  padding-bottom: 3px; }

/* Navbar */
.navbar {
  padding-right: .5rem;
  margin-top: -15px; }

.navbar-brand {
  padding-top: 0rem; }

.navbar-brand img {
  width: 170px;
  margin-top: -15px; }

@media (max-width: 991px) {
  .navbar-brand img {
    margin-top: 10px; } }

@media (max-width: 576px) {
  .navbar-brand {
    padding-right: 150px; } }

.bg-faded {
  background-color: transparent;
  text-align: left; }

.bg-faded .navbar-toggler-right {
  margin-top: 15px; }

/* //Navbar */
/* Carousel */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important; }

.carousel-control-next, .carousel-control-prev {
  opacity: 0.8; }

@media (max-width: 991px) {
  .carousel-control-next, .carousel-control-prev {
    display: none; } }

@media (max-width: 991px) {
  .carousel-indicators {
    display: none; } }

.btn-secondary {
  background-color: transparent; }

.carousel-caption {
  color: #58585a;
  text-align: left;
  max-width: 400px;
  margin-left: 560px;
  margin-bottom: 100px; }

.carousel-caption .btn {
  color: #58585a; }

@media (max-width: 1399px) {
  .carousel-caption {
    margin-left: 460px;
    margin-bottom: 40px; } }

@media (max-width: 1199px) {
  .carousel-caption {
    margin-left: 350px;
    margin-bottom: 10px; } }

@media (max-width: 991px) {
  .carousel-caption {
    margin-left: 260px;
    margin-bottom: 25px; } }

@media (max-width: 767px) {
  .carousel-caption {
    margin-left: 230px;
    margin-bottom: 15px; } }

.carousel-caption p {
  font-size: 0.7rem;
  line-height: 2; }

@media (max-width: 991px) {
  .carousel-caption p {
    display: none; } }

.carousel-caption h3 {
  font-size: 2.5rem;
  padding-bottom: 15px; }

@media (max-width: 991px) {
  .carousel-caption h3 {
    padding-bottom: 1px; } }

.carousel-caption h5 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 0.4; }

@media (max-width: 991px) {
  .carousel-caption {
    display: none; } }

.carousel-caption--mobile {
  display: none; }

@media (max-width: 767px) {
  .carousel-caption--mobile {
    display: block;
    text-align: left;
    padding-left: 50px; } }

@media (max-width: 430px) {
  .carousel-caption--mobile {
    display: block;
    text-align: left;
    padding-left: 20px; } }

.carousel-caption--mobile p {
  display: none; }

.carousel-caption--mobile h3 {
  font-size: 2.5rem;
  padding-bottom: 15px; }

@media (max-width: 991px) {
  .carousel-caption--mobile h3 {
    padding-bottom: 1px; } }

.carousel-caption--mobile h5 {
  padding-top: 15px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 0.4;
  line-height: 1.3; }

.carousel-caption--mobile .btn {
  margin-bottom: 25px;
  width: 50%;
  text-align: center;
  padding: 20px 0; }

@media (max-width: 430px) {
  .carousel-caption--mobile .btn {
    width: 80%; } }

@media (max-width: 767px) {
  #standard {
    display: none; } }

#mobile {
  display: none; }

@media (max-width: 767px) {
  #mobile {
    display: block; } }

/* //Carousel */
/* faceboock-card */
.facebook-card {
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 99; }

@media (max-width: 767px) {
  .facebook-card {
    top: 180px; } }

.facebook-card img {
  height: 100px; }

@media (max-width: 767px) {
  .facebook-card img {
    height: 130px; } }

/* //faceboock-card */
/* Submenu */
.submenu a {
  background-color: #00aedb;
  text-decoration: none; }

.submenu a:hover {
  text-decoration: none;
  background-color: #0a8fb1; }

.submenu__box {
  padding: 20px 60px 60px 20px;
  text-decoration: none;
  padding-bottom: 80px;
  font-family: FontAwesome;
  content: "\f087";
  text-align: left; }

.submenu__box .btn {
  position: absolute;
  right: 40px;
  bottom: 30px;
  cursor: pointer; }

@media (max-width: 767px) {
  .submenu__box .btn {
    display: none; } }

.submenu__box h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.3rem;
  text-align: left; }

@media (max-width: 991px) {
  .submenu__box h2 {
    text-align: none;
    font-size: 1.9rem; } }

@media (max-width: 767px) {
  .submenu__box h2 {
    text-align: center; } }

.submenu__box span {
  color: white;
  font-weight: 100;
  font-style: italic;
  font-size: 0.8rem;
  float: left;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-right: 160px; }

@media (max-width: 1199px) {
  .submenu__box span {
    padding-right: 100px;
    padding-bottom: 40px; } }

@media (max-width: 991px) {
  .submenu__box span {
    padding-right: 120px; } }

@media (max-width: 767px) {
  .submenu__box span {
    display: none; } }

@media (max-width: 991px) {
  .submenu__box {
    padding-right: 5px; } }

@media (max-width: 767px) {
  .submenu__box {
    padding-bottom: 30px;
    text-align: center; } }

.fa-eye, .fa-low-vision, .fa-bullseye {
  color: white;
  font-size: 2rem;
  float: left;
  margin-right: 10px; }

@media (max-width: 1199px) {
  .fa-eye, .fa-low-vision, .fa-bullseye {
    float: none;
    margin-bottom: 15px;
    font-size: 2.5rem; } }

.fa-eye-background .fa-eye {
  position: absolute;
  right: -120px;
  top: -40px;
  font-size: 18rem;
  opacity: 0.1; }

@media (max-width: 767px) {
  .fa-eye-background .fa-eye {
    display: none; } }

.fa-low-vision-background .fa-low-vision {
  position: absolute;
  right: -120px;
  top: -40px;
  font-size: 18rem;
  opacity: 0.1; }

@media (max-width: 767px) {
  .fa-low-vision-background .fa-low-vision {
    display: none; } }

.fa-bullseye-background {
  overflow: hidden; }

.fa-bullseye-background .fa-bullseye {
  position: absolute;
  right: -80px;
  top: -60px;
  font-size: 18rem;
  opacity: 0.1; }

@media (max-width: 767px) {
  .fa-bullseye-background .fa-bullseye {
    display: none; } }

/* //Submenu */
/* Info */
.info {
  padding-top: 60px;
  padding-bottom: 100px; }

.info__txt {
  padding-right: 40px; }

.info__img {
  width: 80%; }

/* //Info */
/* Offer */
.offer {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #ebebeb; }

.offer__types {
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px; }

@media (max-width: 991px) {
  .offer__types .box {
    padding-top: 40px; } }

.offer__types span {
  position: absolute;
  background-color: #00aedb;
  padding: 20px 65px 20px 10px;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  bottom: 0;
  font-weight: 400; }

@media (max-width: 991px) {
  .offer__types span {
    width: calc(100% - 30px);
    font-size: 1.5rem; } }

.offer__more {
  margin: auto;
  padding-top: 35px; }

.offer__more span {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 3px; }

@media (max-width: 767px) {
  .offer__more span {
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    padding-bottom: 20px; } }

.offer__more .btn-secondary {
  margin-left: 20px;
  background-color: white !important;
  color: #58585a; }

.offer__more .btn-secondary:hover {
  background-color: #ebebeb !important; }

@media (max-width: 767px) {
  .offer__more .btn-secondary {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem; } }

/* //Offer */
/* Paralax-bar */
.info-bar span {
  color: white;
  position: absolute;
  margin: auto;
  width: 100%;
  text-align: center;
  top: 25%;
  font-size: 2rem; }

.info-bar img {
  width: 100%; }

@media (max-width: 1199px) {
  .info-bar {
    display: none; } }

/* //Paralax-bar */
/* Contakct-bar */
.contact-bar {
  background-color: #00aedb;
  padding: 28px 0px; }

.contact-bar__txt {
  text-align: center; }

.contact-bar__txt .fa-clock, .contact-bar__txt .fa-map-marker, .contact-bar__txt .fa-phone {
  color: white !important;
  font-size: 2.3rem;
  position: absolute;
  left: 90px;
  top: 15px; }

@media (max-width: 1199px) {
  .contact-bar__txt .fa-clock, .contact-bar__txt .fa-map-marker, .contact-bar__txt .fa-phone {
    left: 60px; } }

@media (max-width: 991px) {
  .contact-bar__txt .fa-clock, .contact-bar__txt .fa-map-marker, .contact-bar__txt .fa-phone {
    left: 15px; } }

@media (max-width: 767px) {
  .contact-bar__txt .fa-clock, .contact-bar__txt .fa-map-marker, .contact-bar__txt .fa-phone {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 25px;
    margin-bottom: 10px; } }

.contact-bar__txt span {
  display: block;
  font-weight: 100;
  font-style: italic;
  color: white;
  font-size: 1.3rem;
  margin-left: 20px; }

#valign-center {
  padding-top: 15px; }

@media (max-width: 767px) {
  #valign-center {
    padding-top: 0px; } }

.btn-start {
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  position: absolute; }

.btn-start img {
  width: 80px; }

/* //Contakct-bar */
/* Footer */
.footer {
  background-color: #58585a;
  padding: 20px 0; }

@media (max-width: 767px) {
  .footer {
    text-align: center; } }

.footer__logo {
  padding-top: 10px; }

.footer nav {
  text-decoration: none;
  padding-top: 15px; }

.footer nav ul a {
  color: white; }

.footer nav ul a:hover {
  color: #ebebeb; }

.footer nav ul a:visited {
  color: white; }

.footer nav ul a li {
  float: left;
  padding-left: 20px;
  list-style-type: none;
  font-weight: 100;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .footer nav {
    padding-top: 20px;
    margin-left: 50px; } }

@media (max-width: 576px) {
  .footer nav {
    margin-left: 20px; } }

@media (max-width: 430px) {
  .footer nav {
    margin-left: -10px; } }

.footer span {
  color: white;
  font-size: 0.8rem; }

.footer .fa-facebook {
  color: white;
  font-size: 2rem;
  margin-left: 15px; }

@media (max-width: 767px) {
  .footer .fa-facebook {
    margin-top: 20px; } }

.copyright {
  background-color: white;
  font-size: 0.8rem;
  padding: 5px 0; }

/* //Footer */
.opacity:hover {
  opacity: 0.75;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out; }

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* Cennik */
.cennik {
  z-index: 2;
  padding: 50px 0px 130px 0px; }

.cennik p {
  padding-bottom: 15px; }

table {
  width: 100%; }

table tr:nth-of-type(2n) {
  background: #eaf0f4; }

table th {
  font-size: 18px;
  background: #00508b;
  color: #fff;
  padding: 10px;
  font-weight: 400; }

table td {
  padding: 10px;
  text-align: left;
  font-size: 14px; }

table td:last-child {
  text-align: right; }

.kontakt p {
  font-size: 1.2rem; }

.kontakt span {
  font-size: 1.1rem;
  margin-left: 15px; }

.kontakt-info {
  padding-bottom: 20px; }
